In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('./data/gyeryong.csv')
data2 = pd.read_csv('./data/autumn_day.csv')
data3 = pd.read_csv('./data/2023_mt.csv')

In [3]:
data2

    Unnamed: 0  Bukhan  Chiak  Gyeryong  Jiri  Naejang
0         2010     291    282       291   283      298
1         2011     287    280       290   285      298
2         2012     289    282       290   283      292
3         2013     292    287       289   280      295
4         2014     286    275       286   281      295
5         2015     287    279       286   281      292
6         2016     291    278       288   285      296
7         2017     287    278       286   284      293
8         2018     285    281       284   285      294
9         2019     284    280       290   297      297
10        2020     290    282       289   289      293
11        2021     293    281       298   299      302
12        2022     291    280       291   291      298

In [4]:
data3

,mtemp_8,mtemp_9,rain_8,rain_9,sun_8,sun_9,lati,long,elv,date
0,27.2,23.7,298.1,134.5,469.76,425.79,37.658653,126.977992,835.6,290
1,26.7,22.7,233.0,158.6,501.57,438.40,37.365125,128.055647,1282.0,283
2,27.0,22.8,326.9,310.2,542.41,443.12,35.528419,127.008797,402.5,292
3,26.9,23.0,406.1,117.6,568.06,446.45,35.336911,127.730625,1915.4,293
4,27.0,22.7,304.5,123.0,599.42,443.90,35.478342,126.889014,763.5,300

In [5]:
test_x = data3.iloc[2, :6]
test_x = np.array(test_x).reshape(1,6)
test_y = data3.iloc[2, -1]
train_x = data.iloc[:, 1:]
train_y = data2.iloc[:, 3]

In [6]:
# 선형회귀
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(train_x, train_y)
pred = model.predict(test_x)
print(pred)
print(model.coef_)
print(model.intercept_)

[287.63979272]
[ 6.56825707e-02  3.70087407e-01 -2.39069284e-04 -1.92963126e-02
 -1.76698733e-02 -6.51542389e-02]
321.9477006578433

C:\Users\0811j\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [7]:
print(test_y)

292

In [8]:
import joblib
joblib.dump(model, './gyeryong.pkl')

['./gyeryong.pkl']